/* @font-face {
    font-family: "Digitalis";
    src: url("https://db.onlinewebfonts.com/t/61597ddaad9f59096e6a6ba33913655e.eot");
    src: url("https://db.onlinewebfonts.com/t/61597ddaad9f59096e6a6ba33913655e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/61597ddaad9f59096e6a6ba33913655e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/61597ddaad9f59096e6a6ba33913655e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/61597ddaad9f59096e6a6ba33913655e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/61597ddaad9f59096e6a6ba33913655e.svg#Digitalis")format("svg");
} */

@font-face {
    font-family: clockicons;
    src: url(assets/ds_digital/DS-Digital.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: whitesmoke;
    overflow-x: hidden;
}

#body-content {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

@media (max-width: 900px) {
    #body-content {
        flex-wrap: wrap; /* Só permite empilhamento em telas pequenas */
    }
}


.section-content {
    min-width: 45vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-content > * {
    margin: 1rem;
}

button, input {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #333;
    border: 0.25rem outset #fff;
}

input {
    color: #333;
    background-color: transparent;
    border-color: #333;
}

button:hover {
    color: #333;
    background-color: #ccc;
    transition-duration: 300ms;
}

button:active, input:active {
    border-style: inset;
}

.actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.marg1, .child-marg1 > * {
    margin: 0 0.25rem;
}

.main-timer-button {
    min-width: 6rem;
}

.display-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 25rem;
    padding: 0 1rem;
    background-color: black;
    border: .5rem double rgb(100, 100, 100);
    border-radius: 1rem;
}

.display-timer > * {
    color: #b3d8f5;
}

.flag.number-time {
    font-size: 2rem;
}

#display-last-flag {
    width: 20rem;
    background-color: #555;
    border-color: #aaa;
}

#display-last-flag > * {
    font-size: 1rem;
}

.font-digit {
    font-family: clockicons, Digitalis, sans-serif;
}

.number-time {
    font-size: 3rem;
}

#time {
    font-size: 1.5rem;
}

.flags-pairs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15rem;
    max-width: 20rem;
    margin: 0.5rem 0.25rem;
    flex-shrink: 0;
}

.flags > .number-time {
    font-size: 1.5rem;
}

.flags {
    font-size: .75rem;
}

.bold {
    font-weight: bold;
}

.align-center {
    display: flex;
    align-items: center;
}

#flags {
    max-width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border-radius: 2rem;
    overflow-y: auto;
}

#flags > * {
    color: rgb(58, 58, 58);
}
